 <div class="modal fade in" id="lembretes">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title main-color"><b>Lembretes</b></h4>
      </div>
      <div class="modal-body modal-height text-center">
        <div style="padding: 15px 30px;">
          <img src="<%= image_path 'asserjufe.png' %>" class=" text-center" style="height: 55px; margin-bottom: 5px;">
          <p class="lead main-color text-justify">
            Todos os associados deverão fazer a reserva para pernoite. Não serão aceitos pernoites sem agendamento prévio.
            O sr. Caseiro, fará a conferência de todo patrimônio e dos utensílios entregues ao associado na saída, sendo de inteira responsabilidade do sócio, quebra ou falta, sendo cobrado em espécie na folha de pagamento.
            Os não sócios pagarão uma taxa para utilizar a Sede Campestre que será descontada na folha de pagamento do
            associado do mês em curso.
            <b>Os funcionários da Asserjufe poderão receber ordens somente da Diretoria.</b>
          </p>
          <p class="lead main-color text-justify">
            O sr. Caseiro na ausência da Diretoria, resolvera os casos especiais, devendo este comunicar no 1º dia útil a Diretoria, para que sejam tomadas as devidas providencias.
          </p>
          <p class="lead main-color text-justify">
            As casas deverão ser entregues em ordem na saída do associado.<b> Envolvendo a não movimentação dos moveis e
            objetos que pertencem a Sede. A má utilização da Sede Campestre acarretará na aplicação de penalidades que
            poderão ser de uma suspensão temporária ou ate definitiva, dependendo da gravidade do fato ocorrido.</b>
            Devido a grande quantidade de sócios que estão utilizando a Sede Campestre, solicitamos agendamento também para a
            utilização durante o dia.
          </p>
          <p class="lead main-color text-justify">
            O associado somente terá acesso a Sede Campestre mediante a retirada das chaves e autorização na
            Administração da Asserjufe.
          </p>
          <p class="lead main-color text-justify">
            As chaves terão de ser devolvidas na Sede da Asserjufe.
            Será cobrado diária durante todo o período que as chaves estiverem em posse do associado.
            Os associados deverão levar materiais de limpeza, roupas de cama e materiais de higiene pessoal.
            <b>SERÁ COBRADA UMA TAXA DE R$ 50,00 CASO HAJA DESISTÊNCIA SEM AVISO, ATÉ DOIS (02) DIAS
            DE ANTECEDÊNCIA DA DATA MARCADA.</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>