 <div class="modal fade in" id="lembretes">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
          <h4 class="modal-title main-color text-center"><b>REGULAMENTO DE USO DA SEDE CAMPESTRE DA ASSERJUFE</b></h4>
      </div>
      <div class="modal-body modal-height text-center">
        <div style="padding: 15px 30px;">
          <img src="<%= image_path 'asserjufe.png' %>" class=" text-center" style="height: 55px; margin-bottom: 5px;">
          <p style="font-size: 18px;" class="sriracha main-color text-justify">
            Art. 1º - O interessado em reservar uma das casas da sede campestre da ASSERJUFE deverá fazer uma pré-reserva e remeter e-mail ou whatsapp com os nomes completos dos acompanhantes, data de entrada e data de saída. Se for associado efetivo, também deverá constar, nessa lista, o grau de parentesco. O interessado receberá uma cópia deste regulamento, todas as vezes em que reservar uma casa, com o qual deverá concordar por escrito. Uma vez aprovada a reserva pelo Presidente, o interessado receberá uma autorização de uso da casa.
            <blockquote>
              <p style="font-size: 16px;" class="sriracha text-left"><i class="fa fa-chevron-circle-right" style="font-size: 14px;"></i> A reserva poderá ser cancelada, pelo associado efetivo, desde que com três dias de antecedência, de forma que outra família possa usufruir da casa naquele período cancelado.</p>
              <p style="font-size: 16px;" class="sriracha text-left"><i class="fa fa-chevron-circle-right" style="font-size: 14px;"></i> o associado efetivo que não cancelar e não comparecer no dia da reserva, pagará uma multa de R$ 200,00 (duzentos reais), ficando desde já autorizado o débito em conta corrente deste valor.</p>
            </blockquote>
          </p>
          <p style="font-size: 18px;" class="sriracha main-color text-justify">
            Art. 2º - Enquanto perdurar a pandemia, o número máximo de pessoas na Casa Grande é de 10 pessoas; na mini suíte, 3; na Casa Pequena, 8. Quando todos estiverem imunizados, não haverá número máximo.
          </p>
          <p style="font-size: 18px;" class="sriracha main-color text-justify">
           Art. 3º - Todos os interessados, que não forem associados efetivos, deverão pagar os valores devidos com antecedência de 3 dias úteis, que não serão devolvidos em caso de não utilização da casa no dia da reserva. Com relação aos associados efetivos, os valores das diárias poderão ser debitados em conta corrente no dia do pagamento, mediante autorização expressa.
          </p>
          <p style="font-size: 18px;" class="sriracha main-color text-justify">
           Art. 4º - É permitida a permanência nas casas de animais de estimação de pequeno porte, desde que mantidos presos dentro das casas, a fim de evitar incômodos com os demais frequentadores.
          </p>
          <p style="font-size: 18px;" class="sriracha main-color text-justify">
            Art. 5º - Quanto às proibições:
             <blockquote>
              <p class="sriracha text-justify no-break"><i class="fa fa-chevron-circle-right" style="font-size: 14px;"></i> É proibido jogar bola na área da piscina e usar bronzeador (é permitido protetor solar);</p>
              <p class="sriracha text-justify no-break"><i class="fa fa-chevron-circle-right" style="font-size: 14px;"></i> É proibido música nas áreas de uso comum, ou seja, na piscina e no Galpão Crioulo (é permitido escutar música no interior das casas, desde que em volume baixo); </p>
              <p class="sriracha text-justify no-break"><i class="fa fa-chevron-circle-right" style="font-size: 14px;"></i> Nos finais de semana, é proibida a utilização das áreas comuns (piscina, Galpão Crioulo, etc.) com exclusividade, haja vista que os demais frequentadores também têm os mesmos direitos.</p>
              <p class="sriracha text-justify no-break"><i class="fa fa-chevron-circle-right" style="font-size: 14px;"></i> É proibida a comemoração de aniversários – ou qualquer outro tipo de comemoração – no galpão crioulo, porque se trata de uma área comum.</p>
              <p class="sriracha text-justify no-break"><i class="fa fa-chevron-circle-right" style="font-size: 14px;"></i> É proibido ligar os motores das piscinas para qualquer fim, pois esta é uma tarefa exclusiva do Caseiro. </p>
              <p class="sriracha text-justify no-break"><i class="fa fa-chevron-circle-right" style="font-size: 14px;"></i> A infração a quaisquer das proibições sujeita o infrator à penalidade de R$ 200,00, por infração. A reincidência poderá acarretar, ao associado efetivo, a exclusão do quadro social; quanto aos demais, podem ficar proibidos de usar a sede campestre por até um ano.</p>
            </blockquote>
          </p>
         

          <p style="font-size: 18px;" class="sriracha main-color text-justify">
           Art. 6º - O caseiro irá fornecer ao responsável pela reserva uma cópia da chave da casa e do portão de entrada (que deverá ser mantido sempre fechado), e irá conferir, em sua chegada e saída, todos os itens que se encontram disponíveis na casa. Em sua saída, na ausência de algum item, ou no caso de dano ao patrimônio da sede campestre, o valor será cobrado no ato.
          </p>
          <p style="font-size: 18px;" class="sriracha main-color text-justify">
           Art. 7º - O Caseiro recebe ordens somente da Diretoria.
          </p>
          <p style="font-size: 18px;" class="sriracha main-color text-justify">
            Art. 8º - Reclamações, sugestões e elogios poderão ser enviados para o WhatsApp da sede administrativa: (51) 99765-9983.
          </p>
          <p style="font-size: 18px;" class="sriracha main-color text-justify">
            Art. 9º – Quando os associados ou interessados locarem o salão de festa para comemoração de aniversários, casamentos e outros eventos, poderão escutar música em volume alto até às 4h, no máximo.
          </p>
          <p style="font-size: 18px;" class="sriracha main-color text-right no-break">
            Porto Alegre, 2 de janeiro de 2021.
          </p>
          <p style="font-size: 18px;" class="sriracha main-color text-right">
            A Diretoria
          </p>
        </div>
      </div>
    </div>
  </div>
</div>