<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="callout callout-gray d-flex">
                <h1 class="main-color"><strong>A Asserjufe</strong> <small class="secundary-color">Sobre a nossa história...</small></h1>
              </div>
		</div>
	</div>
</div>