<div class="container-fluid page-start">
	<div class="container page-title">
		<div class="row">
			<div class="col-md-12 title">
	            <h1><strong>A Asserjufe</strong>, sobre nós</h1>
			</div>
		</div>
	</div>
</div>
<div class="container a_asserjufe">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
			<img src="<%= image_path 'asserjufe.png' %>" class="img-fluid sobre-logo">
			<p class="lead text-center main-color">
				A ASSERJUFE é uma sociedade civil de direito privado, de representação profissional dos Servidores da Justiça Federal, de âmbito Regional, sem fins lucrativos, com prazo de duração indeterminado, de caráter associativo, cultural, recreativo, com personalidade jurídica distinta de seus associados, os quais não respondem por quaisquer compromissos ou obrigações assumidos pela entidade.
			</p>
		</div>
	</div>
	<div class="row subinfo">
		<div class="col-md-6">
			<h3 class="secundary-color text-center">
				<i class="fa fa-bookmark main-color"></i> Fundação
			</h3>
			<p class="main-color text-justify lead">A ASSERJUFE foi fundada em 1º de Dezembro de 1997 conforme o disposto no artigo 1º do seu Estatuto e tem por finalidade reunir e congregar todos os servidores e magistrados ativos e inativos do Poder Judiciário Federal e Ministério Público da União, cujos associados, por extensão, filiam-se a esta entidade.</p>
		</div>
		<div class="col-md-6">

			<h3 class="secundary-color text-center">
				<i class="fa fa-bookmark main-color"></i> Sede Administrativa
			</h3>
			<p class="main-color text-justify lead">A ASSERJUFE tem sua sede administrativa em Porto Alegre - RS, com endereço na Rua Otávio Francisco Caruso da Rocha nº 300 - 8º andar- torre B, no prédio do Tribunal Regional Federal-4ª Região e foro em todo o território do estado do Rio Grande do Sul; sede campestre em Águas Claras no Município de Viamão-RS.</p>
		</div>
		<div class="col-md-12">
			<h3 class="secundary-color text-center">
				<i class="fa fa-bookmark main-color"></i> Histórico
			</h3>
			<p class="main-color text-justify lead">Fazíamos parte da Associação SERJUS NACIONAL, onde tínhamos uma administração regional composta por presidente e diretores com poderes para deliberações locais. Em Dezembro de 1997, por deliberação da Assembleia de Servidores decidiu-se pela cisão da Associação SERJUS e pela criação da ASSERJUFE.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<p class="lead secundary-color"><i class="fa fa-caret-right main-color"></i> A ASSERJUFE é administrada por uma Diretoria Executiva, Conselho Deliberativo e Conselho Fiscal.</p>
		</div>
	</div>
</div>
<div class="container-fluid sobre-maps">
	<%= render 'shared/google_maps', src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.90768647313!2d-51.23905238481813!3d-30.03950613800758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519791c02f8d6c3%3A0x67a9c27f6d99e242!2sASSERJUFE!5e0!3m2!1spt-BR!2sbr!4v1603592591117!5m2!1spt-BR!2sbr" %>
</div>