<div class="container-fluid page-start">
	<div class="container page-title">
		<div class="row">
			<div class="col-md-12 title">
	            <h1><strong>Associe-se</strong></h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2 class="main-color">Quem pode se associar ?</h2>
			<p class="lead main-color">Conforme o estatuto, podem ser sócios efetivos ( Funcionários concursados da Justiça Federal do Rio Grande do Sul ) as seguintes categorias:</p>
			<blockquote>
				<p class="text-left lead main-color no-break"><i class="fa fa-check"></i> Funcionário da Justiça Federal do RS.</p>
				<p class="text-left lead main-color no-break"><i class="fa fa-check"></i> Funcionário do Trf4-Tribunal Regional Federal da 4° Região.</p>
				<p class="text-left lead main-color no-break"><i class="fa fa-check"></i> Funcionário do Ministério Público Federal do RS.</p>
				<p class="text-left lead main-color no-break"><i class="fa fa-check"></i> Juíses Federais e Desembargadores.</p>	
			</blockquote>
		</div>
		<div class="col-md-12 text-center">
			<h2 class="main-color">Quais as vantagens ?</h2>
			<p class="lead main-color">São muitas, confira alumas delas a seguir.</p>
			<blockquote>
				<p class="text-left lead main-color no-break sriracha">
					<i class="fa fa-check"></i> Nossos associados possuem uma enorme gama de 
					<a href="<%= convenios_path %>" data-toggle="tooltip" data-placement="bottom" data-original-title="Acessar página de convênios.">convênios</a>.
					<blockquote class="text-left">
						<i class="fa fa-circle" style="font-size:14px;">  </i> Tim
						<i class="fa fa-circle" style="font-size:14px;">  </i> Unimed
						<i class="fa fa-circle" style="font-size:14px;">  </i> Upcard
					</blockquote>
				</p>
				<p class="text-left lead main-color no-break sriracha">
					<i class="fa fa-check"></i> Preços exclusivos e vantagens na diária/pernoite da
					<a href="<%= sede_campestre_path %>" data-toggle="tooltip" data-placement="bottom" data-original-title="Acessar página da Sede Campestre.">sede campestre</a>.
					<blockquote class="text-left">
						<i class="fa fa-circle" style="font-size:14px;">  </i> Pais, marido, esposa, filhos e netos não pagam.
					</blockquote>
				</p>
			</blockquote>
		</div>
	</div>
</div>
