<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="callout callout-gray">
                <h1 class="main-color"><strong>Contato</strong></h1>
              </div>
		</div>
	</div>
</div>