<div class="container-fluid page-start">
	<div class="container page-title">
		<div class="row">
			<div class="col-md-12 title">
	            <h1><strong>Fale conosco</strong></h1>
			</div>
		</div>
	</div>
</div>
<div class="container contato">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="main-color">Envie sua mensagem e, em breve, nossa equipe entrará em contato.</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 contact-form">
			<%= render 'contatos/form' %>
		</div>
		<div class="col-md-6 contatos-helper">
			<p>Dúvidas sobre como associar-se ?
				<a href="<%= associe_se_path %>">
					<small>mais informações.</small>
				</a>
			</p>
			<p>Ainda não é associado e deseja reservar a sede campestre ?
				<a href="<%= sede_campestre_path %>">
					<small>faça uma pré-reserva.</small>
				</a>
			</p>	
			<p>Se ainda estiver com dúvidas envie uma mensagem em nosso
				<a href="https://api.whatsapp.com/send?phone=5551997659983" target="_blank">
					<small>WhatsApp.</small>
				</a>
			</p>	
			<p>Conte sempre conosco e saiba que é um prazer atendê-lo!</p>
		</div>
	</div>
</div>