<div class="container-fluid page-start">
	<div class="container page-title">
		<div class="row">
			<div class="col-md-12 title">
	            <h1><strong> Fale Conosco</strong></h1>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid contato-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12 contact-form">
				<h2 class="text-center white-color">Conte sempre conosco e saiba que é um prazer atendê-lo! <br><small class="text-center white-color">Dúvidas, reclamações, elogios e sugestões.</small></h2>

				<%= render 'contatos/form' %>
			</div>
		</div>
	</div>
</div>

<!-- banner contato playgrond -->
<div class="banner">
	<div class="overlay">
	</div>
</div>