<div class="container-fluid page-start">
	<div class="container page-title">
		<div class="row">
			<div class="col-md-12 title">
	            <h1><strong>Convênios</strong></h1>
			</div>
		</div>
	</div>
</div>

<div class="container tim">
	<div class="row">
		<div class="pad">
			<div class="col-md-12">
				<h2 class="text-center main-color<text style="color:#007b84;">As</text><text style="color: #006600;">ser</text><text style="color:#007b84;"></text><text style="color:#007b84;">ju</text><text style="color: #006600;">fe</b>fe &</b> 
					<img class="img-responsive" src="<%= image_path 'logosParceiros/Tim.png' %>" style="background-color: #004691; padding: 6px 6px; display: inline;">
				</h2>
			</div>
			
			<div class="col-md-4 text-center">
				<div class="first">
					<p class="lead main-color"><i class="fa fa-check"></i><b> 2GB</b></p>
					<p class="lead"><i class="fa fa-check"></i><b> Ligações ilimitadas para qualquer operadora do Brasil com 41</b></p>
				</div>
				<div class="second" style="background-color: #5f3ca1;">
					<p class="sriracha lead main-color">WhatsApp Liberdo, sem descontar do pacote de dados.</p>
				</div>
				<div class="price">
					<p class="lead main-color sriracha"><b>R$44,00</b></p>
				</div>
			</div>

			<div class="col-md-4 text-center">
				<p class="lead main-color"><i class="fa fa-check"></i><b> 6GB</b></p>
				<div class="first">
					<p class="lead"><i class="fa fa-check"></i><b> Ligações ilimitadas para qualquer operadora do Brasil com 41</b></p>
				</div>
				<div class="second" style="background-color: #02C6C1;">
					<p class="sriracha lead main-color">Principais apps liberados sem descontar do pacote de dados.</p>
				</div>
				<div class="price">
					<p class="lead main-color sriracha"><b>R$64,00</b></p>
				</div>
			</div>

			<div class="col-md-4 text-center">
				<p class="lead main-color"><i class="fa fa-check"></i><b> 8GB</b></p>
				<div class="first">
					<p class="lead bolder"><i class="fa fa-check"></i><b> Ligações ilimitadas para qualquer operadora do Brasil com 41</b></p>
				</div>
				<div class="second" style="background-color: #5f3ca1;">
					<p class="sriracha lead main-color">Principais apps liberados sem descontar do pacote de dados.</p>
				</div>
				<div class="price">
					<p class="lead main-color sriracha"><b>R$86,00</b></p>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="container unimed">
	<div class="row">

		<div class="col-md-12">
			<h2 class="text-center main-color"><text style="color:#007b84;">As</text><text style="color: #006600;">ser</text><text style="color:#007b84;"></text><text style="color:#007b84;">ju</text><text style="color: #006600;">fe</b> &</b><img class="img-responsive" src="<%= image_path 'logosParceiros/Unimed.png' %>" style="padding: 6px 6px; display: inline;">
			</h2>
		</div>

		<div class="col-md-4 text-center">
			<i class="fa fa-users"></i>
			<p class="main-color sriracha b0">AMPLA INCLUSÃO</p>
			<b class="main-color sriracha b0b">DE DEPENDENTES</b>
			<p class="lead main-color text-justify">Cônjugues, filhos e entenados( sem limite de idade) e agregados ( pai, mãe, sogro, sogra, irmão(a), sobrinhos(as), netos(as)).</p>
		</div>

		<div class="col-md-4 text-center">
			<img src="<%= image_path 'icons/discaunt.png' %>">
			<p class="main-color sriracha b0">DESCONTOS EXCLUSIVOS</p>
			<b class="main-color sriracha b0b">CLUBE DE VANTAGENS</b>
			<p class="lead main-color text-center">Descontos na rede Droga Raia nacional e muito mais.</p>
		</div>

		<div class="col-md-4 text-center">
			<i class="fa fa-money"></i>
			<p class="main-color sriracha b0">EXCELENTE</p>
			<b class="main-color sriracha b0b">CUSTO BENEFÍCIO</b>
			<p class="lead main-color text-justify">Uma consulta com dentista particular custa em torno de R$100,00 reais. <b>A mensalidade do plano Unimed é muito menor que este valor.</b></p>
		</div>

		<div class="col-md-12 text-center">
			<p class="main-color lead">Mais informações você encontra <a href="http://entidade.top/asserjufe/" class="link" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Acessar página com todas informações."> <b style="font-size: 16px;">neste link</b>.</a></p>
		</div>
	</div>
</div>

<div class="container tecbiz">
	<div class="row">

		<div class="col-md-12">
			<h2 class="text-center main-color">
				<text style="color:#007b84;">As</text><text style="color: #006600;">ser</text><text style="color:#007b84;"></text><text style="color:#007b84;">ju</text><text style="color: #006600;">fe</b> &</b>
				<img class="img-responsive" src="<%= image_path 'logosParceiros/tecbiz.png' %>" style="width: 167px; padding: 6px 6px; display: inline;">
				<a style="font-size: 16px;" href="http://www2.tecbiz.com.br/tecbiz/tecbiz.php" data-toggle="tooltip" data-placement="bottom" data-original-title="Acessar Sistema TecBiz" target="_blank">
					Acesso TecBiz <i class="fa fa-mail-forward"></i>
				</a>
			</h2>
			<p class="main-color lead text-center">É uma cartão que possibilita nossos associados de poderem usufruir de diversos tipos de convênios como:</p>
		</div>
			
		<div class="col-md-6">
			<p class="sriracha text-left lead main-color no-break">
				<i class="fa fa-check main-color" aria-hidden="true"></i>
				Posto de combustivel Alicar
			</p>
			<p class="sriracha text-left lead main-color no-break">
				<i class="fa fa-check main-color" aria-hidden="true"></i>
				LF Informática
			</p>
			<p class="sriracha text-left lead main-color no-break">
				<i class="fa fa-check main-color" aria-hidden="true"></i>
				Planeta Digital Comercio de Eletrônicos
			</p>
		</div>
		<div class="col-md-6">
			<p class="sriracha text-left lead main-color no-break">
				<i class="fa fa-check main-color" aria-hidden="true"></i>
				Casa do automóvel
			</p>
			<p class="sriracha text-left lead main-color no-break">
				<i class="fa fa-check main-color" aria-hidden="true"></i>
				Classe A informática
			</p>
			<p class="sriracha text-left lead main-color no-break">
				<i class="fa fa-check main-color" aria-hidden="true"></i>
				Óticas, farmácias e muito mais.
			</p>
		</div>
	</div>
</div>

<div class="container upcard">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center main-color"><text style="color:#007b84;">As</text><text style="color: #006600;">ser</text><text style="color:#007b84;"></text><text style="color:#007b84;">ju</text><text style="color: #006600;">fe</b> & Upcard</b>
				<a style="font-size: 16px;" href="http://www.upcard.com.br" data-toggle="tooltip" data-placement="bottom" data-original-title="Acessar Sistema Upcard" target="_blank">
					Acesso Upcard <i class="fa fa-mail-forward"></i>
				</a>
			</h2>
		</div>

		<div class="col-md-12">
			<p class="main-color lead text-left">Baixe o aplicativo UpCard e acesse uma ampla rede de empresas e profissionais liberais com a possibilidade de débito em conta corrente e descontos reais.</p>
			<div class="col-md-4">
				<p class="sriracha text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Drogaria Panamericana
				</p>	
			</div>
			<div class="col-md-4">
				<p class="sriracha text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Farmácia Marcela
				</p>	
			</div>
			<div class="col-md-4">
				<p class="sriracha text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Posto Universitário e muito mais.
				</p>
			</div>
		</div>

	</div>
</div>