<div class="container-fluid page-start">
	<div class="container page-title">
		<div class="row">
			<div class="col-md-12 title">
	            <h1><strong>Convênios</strong></h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="secundary-color">Convênios via cartão TecBiz</h2>
			<p class="main-color lead text-justify">É uma cartão que possibilita nossos associados de poderem usufruir de diversos tipos de convênios como:</p>
			<blockquote>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Posto de combustivel Alicar
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					LF Informática
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Planeta Digital Comercio de Eletrônicos
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Casa do automóvel
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					ClasseA informática
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Óticas, farmácias e muito mais
				</p>
			</blockquote>
		</div>
		<div class="col-md-12">
			<h2 class="secundary-color">Convênios via applicativo UpCard</h2>
			<p class="main-color lead text-justify">Baixe o aplicativo UpCard e acesse uma ampla rede de empresas e profissionais liberais com a possibilidade de débito em conta corrente e descontos reais.</p>
			<blockquote>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Drogaria Panamericana
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Farmácia Marcela
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i>
					Posto Universitário
				</p>
			</blockquote>
		</div>
	</div>
</div>