<div class="container-fluid page-start">
	<div class="container page-title">
		<div class="row">
			<div class="col-md-12 title">
	            <h1><strong>Diretoria</strong></h1>
			</div>
		</div>
	</div>
</div>