<div class="container" style="">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>Requisistos</h3>
			<p class="lead text-left">Entrar | Associe-se são links vazios. <br> 
				O ícone do telefone deve estar na mesma altura dos ícones das rede sociais <br>
				O menu serviços é um dropdown.  <br>
				Todos itens do menu são links vazios. <br>
				As redes sociais devem ser links vazios tmb.<br>
				No hover(quando passa o mause por cima) dos itens do menu deve cobrir o fundo como aqui https://www.grupomaaf.com.br/.
			</p>
			<h3>Usar os links abaixo para desenvolver o header e footer</h3>
		</div>
		<div class="col-md-4 text-center text1">
			<a href="https://getbootstrap.com/docs/3.3/css/" target="_blank">Bootstrap 3 css</a>
		</div>
		<div class="col-md-4 text-center text2">
			<a href="https://getbootstrap.com/docs/3.3/examples/theme/" target="_blank">Bootstrap 3 theme example</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="https://fontawesome.com/v4.7.0/icons/" target="_blank">Font awesome</a>
		</div>
	</div>
</div>
<!-- google maps -->
<%= render 'shared/google_maps', src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.90768647313!2d-51.23905238481813!3d-30.03950613800758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519791c02f8d6c3%3A0x67a9c27f6d99e242!2sASSERJUFE!5e0!3m2!1spt-BR!2sbr!4v1603592591117!5m2!1spt-BR!2sbr" %>
