<div class="container" style="">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>Requisistos</h3>
			<p class="lead text-left">Entrar | Associe-se são links vazios. <br> 
				O ícone do telefone deve estar na mesma altura dos ícones das rede sociais <br>
				O menu serviços é um dropdown.  <br>
				Todos itens do menu são links vazios. <br>
				As redes sociais devem ser links vazios tmb.<br>
				No hover(quando passa o mause por cima) dos itens do menu deve cobrir o fundo como aqui https://www.grupomaaf.com.br/.
			</p>
			<h3>Usar os links abaixo para desenvolver o header e footer</h3>
		</div>
		<div class="col-md-4 text-center text1">
			<a href="https://getbootstrap.com/docs/3.3/css/" target="_blank">Bootstrap 3 css</a>
		</div>
		<div class="col-md-4 text-center text2">
			<a href="https://getbootstrap.com/docs/3.3/examples/theme/" target="_blank">Bootstrap 3 theme example</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="https://fontawesome.com/v4.7.0/icons/" target="_blank">Font awesome</a>
		</div>
	</div>
</div>
