<div class="container" style="margin-top: 100px;">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>Usar os links abaixo para desenvolver o header e footer</h3>
		</div>
		<div class="col-md-4 text-center text1">
			<a href="https://getbootstrap.com/docs/3.3/css/" target="_blank">Bootstrap 3 css</a>
		</div>
		<div class="col-md-4 text-center text2">
			<a href="https://getbootstrap.com/docs/3.3/examples/theme/" target="_blank">Bootstrap 3 theme example</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="https://fontawesome.com/v4.7.0/icons/" target="_blank">Font awesome</a>
		</div>
	</div>
</div>
