<div class="container-fluid page-start">
	<div class="container page-title">
		<div class="row">
			<div class="col-md-12 title">
	            <h1><i class="fa fa-tree" aria-hidden="true"></i> <strong>A Sede Campestre</strong></h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row sede-content">
		<div class="col-md-6 text-left">
			<h2 class="secundary-color">O que é ?</h2>
			<blockquote>
				<p class="main-color lead text-justify">A sede campestre é um belíssimo espaço de 6 hectares que destina-se ao lazer, esportes, diversão, eventos e encontro entre amigos. Além de estarmos conectados diretamente com a natureza oferecemos todo o conforto que sua família merece.</p>
			</blockquote>
			<h2 class="secundary-color">Como faço para reservar ?</h2>
			<p class="lead main-color no-break text-justify">Associados podem fazer o <a href="<%= backend_path %>">login <i class="fa fa-mail-forward mail" aria-hidden="true"></i></a> e requisitar no menu correspondente.</p>
			<p class="lead main-color text-justify">Clientes não associados podem fazer uma pré-reserva <a href="<%= associe_se_path %>">aqui <i class="fa fa-mail-forward mail" aria-hidden="true"></i>.</a></p>
		</div>
		<div class="col-md-6 text-left services">
			<h2 class="secundary-color">O que oferecemos ?</h2>
			<blockquote>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i> Casas e suite
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i> Piscinas (Adulto e Infantil)
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i> Galpão grande de festas com churrasqueira
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i> Wifi
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i> Churrasqueiras
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i> Playground
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i> Área para camping
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i> Galpão grande de festas com churrasqueira
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i> Mesa de Sinuca / Mesa de pebolim
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i> Campo de futebol
				</p>
				<p class="text-left lead main-color no-break">
					<i class="fa fa-check main-color" aria-hidden="true"></i> Poço de água mineral com 100% de pureza
				</p>
			</blockquote>
		</div>
	</div>
</div>
<div class="container">
	<div class="pre-reserva">
		
	</div>
</div>
<div class="maps">
	<div class="container-fluid">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3449.4474785741118!2d-50.85263338488192!3d-30.167208981837895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x547d6560504cc632!2sASSERJUFE-RS%20Sede%20Campestre!5e0!3m2!1spt-BR!2sbr!4v1611087103169!5m2!1spt-BR!2sbr" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
</div>
