/* ------------------------------------------------ */
/* 	 Documento de regras globais da applicação 		*/
/* 	 Autor : Leonardo de Moraes - 15/10/20			*/
/* 	 Projeto website ASSERJUFE.org					*/
/* ------------------------------------------------ */
/* CLASSES DO SISTEMA */
/*
	Classes de alinhamento de texto
	-----------------------------
	text-left
	text-center
	text-right
	text-justify

	Classes de text-transform
	-----------------------------
	text-lowercase
	text-uppercase
	text-capitalize

	Classes de background-color
	-----------------------------
	bg-primary
	bg-success
	bg-info
	bg-warning
	bg-danger
*/
/* ------------------------------------------------ */
/* 				 VARIÁVEIS DO SISTEMA 				*/
/* ------------------------------------------------ */
/* CORES */
$main-color: #0e5600;
$secundary-color: #007bff;
$white-color: #ffffff;
$black-color: #000000;

/* TEXTO */
$font-base: 16px;       
$font-large: 18px;       
$font-small: 12px;


/* CLASSES GERAIS DO SISTEMA */
.main-color {
	color: $main-color;
}
.secundary-color {
	color: $secundary-color;
	opacity: 0.8;
}
.font-base {
	font-size: $font-base;
}
.font-large {
	font-size: $font-large;
}
.font-small {
	font-size: $font-small;
}
.white-color {
	color: $white-color;
}
.black-color {
	color: $black-color;
}

/* whatsapp pop-up */
.whats-pop-up {
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	border-radius:50px;
	text-align:center;
	box-shadow: 1px 1px 2px #888;
	z-index:1000;
	.fa-whatsapp {
		margin-top: 13px;
    	font-size: 35px;
    	color: $white-color;
	}
}

/* arrow-up pop-up*/ 
.ancor-up {
	cursor: pointer;
	position:fixed;
	width:50px;
	height:50px;
    bottom: 86px;
    right: 26px;
	background-color:#25d366;
	border-radius:50px;
	text-align:center;
	box-shadow: 1px 1px 2px #888;
	.fa-arrow-up {
		margin-top: 6px;
    	font-size: 35px;
    	color: $white-color;
	}
}

/* overwritten */

// admin-lte as 'breadcrumb'
.callout {
	margin-bottom: 0px !important;
	h1 {
		margin: 0px auto !important;
	}
}
