/* ------------------------------------------------ */
/* 	 Documento de regras globais da applicação 		*/
/* 	 Autor : Leonardo de Moraes - 15/10/20			*/
/* 	 Projeto website ASSERJUFE.org					*/
/* ------------------------------------------------ */
/* CLASSES DO SISTEMA */
/*
	Classes de texto
	-----------------------------
	text-left
	text-center
	text-right
	text-justify

	text-lowercase
	text-uppercase
	text-capitalize

	Classes de background
	-----------------------------
	bg-primary
	bg-success
	bg-info
	bg-warning
	bg-danger
*/
/* ------------------------------------------------ */
/* 				 VARIÁVEIS DO SISTEMA 				*/
/* ------------------------------------------------ */
/* CORES */
$main-color: #0e5600;
$secundary-color: #0000ff;

/* TEXTO */
$font-base: 16px;       
$font-large: 18px;       
$font-small: 12px;
$font-white: #ffffff;
$font-black: #000000;