<div class="row">
  <div class="col-md-12">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Pré Reservas</h3>
      </div>
      <div class="box-body">
        <%= render 'pre_reservas_grid' %>
      </div>
    </div>
  </div>
</div>