.asserjufe-footer {
	.footer-menu {
		margin-top: 0px;
		background-color: $main-color;
		padding: 55px 0px;
		.row {
			.atendimento {
				font-size: 18px;
				color: $white-color;
				h4 {
					font-size: 18px;
				}
				.atendimento-footer {
					padding-left: 0px;
					list-style: none;
					i {
						font-size: 20px;
					}
					.numero {
						font-size: 19px;
						margin-left: 9px;
					}
					.email {
						margin-left: 5px;		
					}
					a {
						color: $white-color;
						&:hover {
							text-decoration: underline;
						}
					}
					.contato {
						position: relative;
						top: 5px;
						margin-left: 5px;
					}
					.mail {
						position: relative;
						top: .3em;
					}	
				}
			}
			.menu {
				color: $white-color;
  				h4 {
					font-size: 18px;
				}
				.menu-footer {
					list-style: none;
					font-size: 18px;
					padding-left: 0px;
					a {
						color: $white-color;
						&:hover {
							text-decoration: underline;
						}
					}	
				}
			}
			.servicos {
				color: $white-color;
	  			h4 {
	  				font-size: 18px;
	  			}
	  			.servicos-footer{
	  				list-style: none;
					padding-left: 0px;
	  				a {
		  				font-size: 18px;
						color: $white-color;
						&:hover {
							text-decoration: underline;
						}	
					}
	  			}
			}
			.asserjufe {
				color: $white-color;
				h4 {
					font-size: 18px;
					position: relative;
					bottom: 4px;
				}
				h4 i{
					font-size: 20px;
				}
				i {
					color: $white-color;
					font-size: 29px;
					padding: 0px 6px;
				}
			}
		}
	}	
}
.copyright {
	margin-top: -1px !important;
	background-color: #245236 !important;
	padding: 15px 0px;
	.text-left {
		p {
			color: $white-color;
			margin-bottom: 0px;
			font-size: 19px;
		}
	}
}