.asserjufe-header {
	.main-header {
		background-color: $main-color;
		.container {
			.row {
				padding: 6px 0px;
				.login {
					a {
						color: $white-color;
						font-size: 18px;
						&:hover {
							text-decoration: underline;
						}
						i {
							color: $white-color;
							padding: 9px 2.5px;
						}
					}
					@media (min-width: 	768px) and (max-width: 	1199px) {
							text-align: center;	
					}
				}
				.sociais {
					@media (max-width: 991px) {
						text-align: center !important;
					}
					a{
						font-size: 26px;
						i {
							color: $white-color;
							padding: 5px 2.5px;
						}
					}
					
					.barra{
						color: $white-color;
						border-left: solid 2px;
						margin-top: 5px;
						margin-left: 7px;
						font-size: 16px;
						position: relative;
						bottom: 1.5px;
					}
					.fone {
						font-size: 20px;
						margin-left: 11px; 
						color: $white-color;
						position: relative;
						bottom: 2px;
					}
					.numero {
						font-size: 22px;
						color: $white-color;
						position: relative;
						bottom: 2px;
						right: 1px;	
					}
				}
			}	
		}
	}
	.sub-header {
		margin-bottom: 0px;
		border: none;
		.container {
			.navbar-header {
				.navbar-toggle {
					color: #245236;
					font-size: 32px;
					padding-bottom: 0px;
					position: relative;
					bottom: 3px;
				}
				.logo {
					@media (min-width: 480px) and (max-width: 991px) {
						text-align: center !important;
					}
					@media (min-width: 768px) and (max-width: 1000px) {
						display: none;
					}
					.img-fluid {
						height: 55px;
						position: relative;
						top: 6px;
						@media screen and (max-width: 767px) {
							margin-bottom: 8px !important;
							margin-left: 15px;
						}
					}
				}
			}
			.menu {
				.navbar-nav {
					margin-left: 50px;
					li{
						padding: 0px 0px;
					}
					a {	
						font-size: 16px;
						line-height: 2.4;
						transition: 1000ms;
						color: $main-color;
						&:hover {
							transition: 1000ms;
							color: $secundary-color;
						}
					}
					.dropdown {
						display: relative;
						&:hover ul {
							display: block;
  						}
  						.dropdown-menu {
							&:hover a {
								transition: 1000ms;
  							}
  						}
					}	
				}	
			}
		}
	}	
}