<!-- Google Maps -->
<div class="map container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<iframe src="<%=src%>"
			    frameborder="0" 
			    allowfullscreen="" 
			    aria-hidden="false" 
			    tabindex="0">
			</iframe>	
		</div>
		<div class="col-xs-12 col-md-4 maps-info">
			<h3 class="main-color text-capitalize">Sede Administrativa</h3>
			<h3 class="main-color">Rua Otávio Francisco Caruso da Rocha - Praia de Belas, Porto Alegre - RS, número 300, 8° andar.</h3>
			<br>
			<p class="main-color lead">Atendimento : Segunda, Quarta e Sexta das 13h às 18h.</p>
			<small class="main-color"><strong>Horário de atendimento reduzido devido a pandemia.</strong></small>
			<br>
			<br>
			<p class="main-color lead">Entre em contato 
				<a href="<%= contato_path %>" data-toggle="tooltip" data-placement="bottom" data-original-title="Clique para abrir a página de contato.">
					<small>através deste link.</small>
				</a>
			</p>
			<p class="main-color lead">asserjufe.poa@gmail.com</p>
			<br>
			<a href="https://api.whatsapp.com/send?phone=5551997659983" data-toggle="tooltip" data-placement="right" data-original-title="Enviar mensagem no WhatsApp." target="_blank">
				<i class="fa fa-whatsapp" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>