<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MENU</li>

      <li class="treeview menu-open">

        <a href="">
          <i class="fa fa-globe"></i> <span>SITE</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>

        <ul class="treeview-menu">

          <% if current_user.administrador? or current_user.funcionario_efetivo? %>
            <li>
              <a href="<%= pre_reserva_path %>">
                <i class="fa fa-free-code-camp"></i>
                <span>Pré-reservas</span>
              </a>
            </li>
            <li>
              <a href="<%= email_contato_path %>">
                <i class="fa fa-envelope"></i>
                <span>Emails/contato</span>
              </a>
              </li>
          <% end %>
          
          <% if current_user.administrador? %>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-cloud-upload"></i> CADASTROS
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="#">
                    <i class="fa fa-image"></i> Fotos/Sede
                  </a>
                </li>
              </ul>
            </li>
          <% end %>

        </ul>
      </li>

      <% if current_user.administrador? %>
        <li class="treeview">
          <a href="">
            <i class="fa fa-cog"></i> <span>ADMINISTRAÇÃO</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="<%= usuarios_path %>">
                <i class="fa fa-users"></i>
                <span>Usuários</span>
              </a>
            </li>
            <li>
              <a href="<%= new_usuario_path %>">
                <i class="fa fa-user-plus"></i>
                <span>Cadastrar Usuário</span>
              </a>
            </li>
          </ul>
        </li>
      <% end %>

    </ul>
  </section>
</aside>