.a_asserjufe {
	.subinfo {
		p {
			font-size: 18px !important;
		}
		i {
			font-size: 25px;
		}
	}
	.sobre-logo {
		height: 85px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}
.sobre-maps {
	background-color: #eee;
}
.mob-mb {
	@media (max-width: 480px) {
		margin-bottom: 40px;
	}
}
.line-diretoria {
	@media (max-width: 480px) {
		width: 100% !important;
		margin-bottom: 15px;
	}
}