.asserjufe-banners {
	.owl-prev, .owl-next {
        height: 500px !important;
    	width: 150px !important;
        position: absolute;
        top: 50% !important;
        transform: translateY(-50%);
        display: block !important;
        border:0px solid black;
        background-color: unset !important;
	    outline: none;
	    @media screen and ( max-width: 992px ) {
	    	display: none !important;
	    }
    }
    .owl-prev { left: 60px; }
    .owl-next { right: 60px; }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc; color: turquoise; font-size: 30px; }  
}
.news-desc {
	&:hover {
		blockquote {
			p {
				color: $secundary-color !important;
				font-weight: bold;
			}
		}
	}
}
.news-home, .noticias-noticia {
	.news {
		.news-slide {
			height: 4px; 
			width: 0;
			-webkit-transition: all .4s linear;
		    -moz-transition: all .4s linear;
		    -o-transition: all .4s linear;
		    transition: all .4s linear;
		}
		a {
			&:hover > div.news-slide {
				background-color: $main-color;
				width: 100%;
			}
			.content-notice-image {
				.notice-image {
					height: 250px;
				    width: 100%;
				    background-size: cover;
				    background-position: center;
				}
				.notice-image-auto {
					height: 250px;
				    width: 100%;
					background-position: center;
				}
			}
		}
	}
}
.msg-presidente {
	background-color: #0D1C21;
	.row {
		padding: 35px 0px;
	}
}
.mobile-center {
	@media (max-width: 480px) {
		text-align: center !important;
	}
}
.title-mob {
	@media (max-width: 480px) {
		font-size: 30px !important;
	}
}
.banners {
	background-color: #fff;
	.lead {
		font-size: 24px;
	}
	.sede-campestre {
		padding: 15px 15px;
		.title {
	    	font-size: 45px;
		}
		img {
			-webkit-clip-path: polygon(0 19%, 100% 0, 77% 100%, 0% 100%);
		}
		a {
			&:hover {
				text-decoration: none;
			}
			button {
				border:2px solid $main-color;
				font-size: 30px;
    			border-radius: 30px;
				&:hover {
					background-color: $main-color;
					color: $white-color;
				}
			}
		}
	}
	.convenios {
		padding: 15px 15px;
		@media (max-width: 480px) {
			margin: 0px 0px;
		}
		.title {
	    	font-size: 45px;
		}
		a {
			&:hover {
				text-decoration: none;
			}
			button {
				border:2px solid $main-color;
				font-size: 30px;
    			border-radius: 30px;
				&:hover {
					background-color: $main-color;
					color: $white-color;
				}
			}
		}
		.owl-conv {
			@media screen and (min-width: 993px) {
				margin-top: 70px;
			}
			@media screen and (max-width: 480px) {
				margin-top: 35px !important;
			}
		}
	}
}
.background2 {
	background-image: url(asset_path('gallery/larg/15.PNG'));
    background-size: cover !important;
    background-attachment: fixed !important;
    height:  450px !important;
    background-position: bottom;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
	@media (max-width: 480px) {
		-webkit-clip-path: polygon(0 100%, 100% 0, 100% 90%, 0 100%);
		clip-path: polygon(0 35%, 100% 0, 100% 61%, 0 100%);
		height: 250px !important;
	}
}