<div class="row">
	<div class="col-md-12 text-center">
		<h1 class="main-color">Bem vindo ao Painel de Administração Asserjufe</h1>
	</div>
	<div class="col-md-12 text-center">
		<img src="<%=  image_path 'asserjufe-logo-backend.png' %>" style="margin-bottom: 20px;" >
	</div>
</div>