/* ------------------------------------------------ */
/* 	 Documento de regras globais da applicação 		*/
/* 	 Autor : Leonardo de Moraes - 15/10/20			*/
/* 	 Projeto website ASSERJUFE.org					*/
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* 				 VARIÁVEIS DO SISTEMA 				*/
/* ------------------------------------------------ */

/* CORES */
$main-color: #3A6347;
$secundary-color: #007B84;
$white-color: #ffffff;
$black-color: #000000;
$background-main: rgba(238, 238, 238, 0.8);;

/* TEXTO */
$font-base: 16px;       
$font-large: 18px;       
$font-small: 12px;


/* CLASSES GERAIS DO SISTEMA */
.main-color {
	color: $main-color;
}
.secundary-color {
	color: $secundary-color;
}
.background-main {
	background-color: $background-main;
}
.font-base {
	font-size: $font-base;
}
.font-large {
	font-size: $font-large;
}
.font-small {
	font-size: $font-small;
}
.white-color {
	color: $white-color;
}
.black-color {
	color: $black-color;
}

/* whatsapp pop-up */
.whats-pop-up {
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	border-radius:50px;
	text-align:center;
	z-index:1000;
	.fa-whatsapp {
		margin-top: 13px;
    	font-size: 35px;
    	color: $white-color;
	}
}

/* arrow-up pop-up*/ 
.ancor-up {
	cursor: pointer;
	position:fixed;
	width:50px;
	height:50px;
    bottom: 86px;
    right: 26px;
	background-color: $secundary-color;
	border-radius:50px;
	text-align:center;
	display: none;
	.fa-arrow-up {
		margin-top: 6px;
    	font-size: 35px;
    	color: $white-color;
	}
}

/* page titles */
.page-start {
	background-color: #007B84;
	.page-title {
		.title {
			padding: 40px 15px;
			h1 {
				margin: 0px 0px;
				color: $white-color;
				small {
					color: $white-color;
				}
			}
		}
	}
}

/* Menu active */
.active {
	background-color: #007B84;
	color: $white-color !important;
}

/* ------------------------------------------------ */
/* 					OverWritten 					*/
/* ------------------------------------------------ */
/* takes out plus icon on select wice_grid */
body .custom-dropdown-container .expand-multi-select-icon {
	display: none !important;
}

body a {
	&:hover {
		color: $main-color;
		font-weight: 400;
	}
}

// recaptcha icon
.grecaptcha-badge {
	display: none !important;
}
