/* css to scss example */

/* CSS */
.something {
	height: 100%;
}
.something .sub-something {
	height: 100%;
}
.something .sub-something a {
	font-size: 10px;
}

/* SCSS */
.something {
	height: 100%;
	.sub-something {
		height: 100%;
		a {
			font-size: 10px;
		}
	}
}