<% if model.errors.any? %> 
  <div id="error_explanation" class="alert alert-danger">
  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
  	<h3><%= pluralize(model.errors.count, "erro") %> ao <%= action_name != 'update_cadastro' ? 'solicitar' : 'completar' %> o cadastro:</h3>
    <ul style="display: block;">
	    <% model.errors.full_messages.each do |message| %>
	      <li style="list-style-type: disc;"><%= message %></li>
	    <% end %>
    </ul>
  </div>
<% end %>

