<% contflash = 0 %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) && msg!='' %>

    <%
      contflash += 1
      case name
        when 'info'
          msgclass = 'info'
          icon     = 'info'
        when 'notice'
          msgclass = 'success'
          icon     = 'check'
        when 'success'
          msgclass = 'success'
          icon     = 'check'
        when 'warning'
          msgclass = 'warning'
          icon     = 'warning'
        else
          msgclass = 'danger'
          icon     = 'ban'
      end
    %>

    <div class="alert alert-<%= msgclass %> alert-dismissable" style="<%= contflash<flash.count ? 'margin-bottom: 2px' : '' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-<%=icon%>"></i> Atenção!</h4>
      <%= msg.html_safe %>
    </div>
    
  <% end %>  
<% end %>
<% flash.clear %>